<html lang="en" ng-app="redditApp">
	<head>
		<title>Reddit Material-Angular</title>

		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
		<meta name="theme-color" content="#3F51B5"/>
		<link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
		<link rel="stylesheet" href="/stylesheets/style.css"/>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	</head>

	<body ng-controller="mainController" ng-init="getFrontPage()">
	<md-toolbar class="md-accent">
      <h2 class="md-toolbar-tools">
      	<img src="/images/reddit.png" style="width:40px; height:40px;"/>
        <div class="docs-logotype">Material Design Reddit</div>
      </h2>
    </md-toolbar>
		
	<md-progress-circular class="md-hue-2 center-loading" ng-show="isLoading" md-mode="indeterminate"></md-progress-circular>

		<section layout="row" flex>
			<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
				<md-toolbar class="md-theme-indigo">
					<h1 class="md-toolbar-tools" ng-init="getDefaults()">Subreddit List</h1>
				</md-toolbar>
				<md-content class="md-padding">
					<div ng-repeat="sub in defaultSubreddits track by $index">
						<md-button ng-click="getPosts(sub)" class="md-primary">
							{{sub}}
						</md-button>
						<md-divider/>
						<br>
					</div>
					<p hide-md show-gt-md>
						I will be working on populating this sidebar when you login once reddit authentication is up and running.
					</p>
				</md-content>
			</md-sidenav>
			
			<md-content-flex class="md-padding">
				<div layout="row" layout-wrap layout-sm="column">
					<div flex="25" flex-sm="100" ng-repeat="(key,value) in postList">
						<md-content>
							<md-card class="md-whiteframe-z2">
								<img id="{{key}}" render-image="{{value.link}}" render-image-domain="{{value.domain}}" fallback-src="/images/default.png" src="{{value.link}}">
								<md-card-content>
									<a href="{{value.link}}"> {{value.title}}</a>
									<span class="subreddit"> {{value.subreddit}} </span>
									<md-divider/>
									<p get-top-comments="{{value.permalink}}"></p>
									<md-divider/>
									<span> <b>{{value.score}} points </b> </span>
									<a href="http://www.reddit.com{{value.permalink}}"> Comments </a>
								</md-card-content>
							</md-card>
						</md-content>
					</div>
				</div>
			</md-content-flex>

		</section>

		<script src="/bower_components/angular/angular.min.js"></script>
		<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
		<script src="/bower_components/angular-aria/angular-aria.min.js"></script>
		<script src="/bower_components/angular-material/angular-material.min.js"></script>
		<script src="/javascripts/third-party/jquery-2.1.3.js"></script>
		<script src="/javascripts/core.js"></script>
	</body>
</html>