<html lang="en" ng-app="redditApp">
	<head>
		<title>Reddit Material-Angular</title>

		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
	</head>

	<body ng-controller="mainController" ng-init="getFrontPage()">
	<md-toolbar class="md-accent">
      <h2 class="md-toolbar-tools">
      	<img src="/images/reddit.png" style="width:40px; height:40px;"/>
        <div class="docs-logotype">Material Design Reddit</div>
      </h2>
    </md-toolbar>
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular class="md-hue-2" ng-show="isLoading" md-mode="indeterminate"></md-progress-circular>
	</div>
		
		<section layout="row" flex>
			<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
				<md-toolbar class="md-theme-indigo">
					<h1 class="md-toolbar-tools">Subreddit List</h1>
				</md-toolbar>
				<md-content class="md-padding">
					<md-button ng-click="subreddit = 'programming'" class="md-primary">
						Programming
					</md-button>
					<md-divider/>
					<br>
					<md-button ng-click="subreddit = 'askreddit'" class="md-primary">
						AskReddit
					</md-button>
					<md-divider/>
					<br>
					<md-button ng-click="subreddit = 'webdev'" class="md-primary">
						WebDev
					</md-button>
					<md-divider/>
					<br>
					<md-button ng-click="subreddit = 'funny'" class="md-primary">
						Funny
					</md-button>
					<md-divider/>
					<br>
					<md-button ng-click="subreddit = 'adviceAnimals'" class="md-primary">
						AdviceAnimals
					</md-button>
					<md-divider/>
					<p hide-md show-gt-md>
						I will be working on populating this sidebar when you login once reddit authentication is up and running.
					</p>
				</md-content>
			</md-sidenav>
			
			<md-content-flex class="md-padding">
				<div layout="row" layout-wrap layout-sm="column">
					<div flex="33" flex-sm="100" ng-repeat="(key,value) in postList">
						<md-content>
							<md-card class="md-whiteframe-z2">
								<img fallback-src="/images/default.png" src="{{value.link}}">
								<md-card-content>
									<a href="{{value.link}}"><h2> {{value.title}}</h2></a>
									<p> Placeholder text </p>
								</md-card-content>
							</md-card>
						</md-content>
					</div>
				</div>
			</md-content-flex>

		</section>

		<script src="/bower_components/angular/angular.min.js"></script>
		<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
		<script src="/bower_components/angular-aria/angular-aria.min.js"></script>
		<script src="/bower_components/angular-material/angular-material.min.js"></script>
		<script src="/javascripts/third-party/jquery-2.1.3.js"></script>
		<script src="/javascripts/core.js"></script>
	</body>
</html>