body {
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: #00B7FF;
  font-familt: 'Roboto', sans-serif;
}

.subreddit {
	font-size: 12px;
	font-color: #808080;
}

.center-loading {
	position: absolute;
	z-index: 15;
	top: 50%;
	left: 50%;
}